.MainHeader {
    text-align: center;
  }
  
.MainHeader-logo {
    animation: MainHeader-logo-spin infinite 20s linear;
    height: 80px;
}
  
.MainHeader-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}
  
.MainHeader-title {
    font-size: 1.5em;
}
  
.MainHeader-intro {
    font-size: large;
}
  
@keyframes MainHeader-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
  